<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.ymmooot.memo</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ryota/ghq/playground/memo-server/dist/memo-server</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
